!/.gitignore

.wg-file.el
/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*_flymake.el
*~
*.log
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
eshell/
semanticdb/
*.swp
*~
abbrev_defs
/swank
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
.emacs.d/emms/
tutorial/
/var
org-clock-save.el
.\#*
emms/
projectile-bookmarks.eld
history
*.bak
/cedet-bzr/
session.*
/debug-init.el
/tmp/
.cask/
/.python-environments/
*.tar*
*.gz
*.zip

/site-lisp/jedi/*
!/site-lisp/jedi/*.el
/site-lisp/pdee/
/site-lisp/pylookup/pylookup.db
/site-lisp/python-mode.el*
