!/.gitignore

*.elc
*_flymake.el
*.log
.*.lock
\#*
*~
*.swp
*.tar*
*.gz
*.zip
*.bak

*.bak/

.wg-file.el
/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
CVS
.svn
.yas-compiled-snippets.el
.bookmarks.el
.cvsignore
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
/elpa
eshell/
semanticdb/
abbrev_defs
/swank
/swank
/.mc-lists.el
TAGS
GTAGS
GPATH
GRTAGS
.emacs.d/emms/
tutorial/
/var
org-clock-save.el
emms/
projectile-bookmarks.eld
history
/cedet-bzr/
session.*
/debug-init.el
/tmp/
.cask/
/.python-environments/
filesets-cache.el
/my-snippets/

/site-lisp/jedi/*
!/site-lisp/jedi/*.el
/site-lisp/pdee/*
!/site-lisp/pdee/*.el
/site-lisp/pdee-master/*
!/site-lisp/pdee-master/*.el
/site-lisp/Pymacs/*
!/site-lisp/Pymacs/*.el
/site-lisp/pylookup/*
!/site-lisp/pylookup/*.el
/site-lisp/python-mode.el*/*
!/site-lisp/python-mode.el*/*.el
/site-lisp/evernote-mode/*
!/site-lisp/evernote-mode/*.el